@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600');



  .card{
    box-shadow: 0 7px 10px #A3BBCB;
    width: 90%;
    border-radius: 16px;
    margin-top: 3%;
    margin-left: 5%;
    padding: 2%;
  }