body{
    margin-left: 8%;
    margin-top: 2%;
    padding: 0;
}

form .button{
    height: 45px;
    margin: 20px 0;
}

form input{
    height: 100%;
    width: 10%;
    border: 1px solid black;
    border-radius: 1rem;
    color: white;
    background: #AD886E;
    text-transform: uppercase;
}

input:hover{
    background: #243f4d;
    color: white;
}